{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-5 col-sm-12 col-md-10 col-lg-6">
        <div class="card bg-light mb-5">
            <div class="container px-4">
                <h1 class="my-3 text-center">Vos informations</h1>
                {{ form_start(form) }}
                    {{ form_row(form) }}
                <div class="col text-center">
                    <button class="btn btn-info mb-5">{{ button_label|default('Continuer') }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
