{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
            {{ form_row(form) }}
            <button class="btn btn-info">{{ button_label|default('Continuer') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
