<footer>
    <div class="container-fluid">
        <div class="row justify-content-between py-2">
            <div class="mt-1 reseau">
                <a href="https://www.linkedin.com/company/schiller-france" target="_blank" class="ml-3"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/SchillerFrance/" target="_blank" class="ml-3"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                <a href="https://twitter.com/SCHILLERAG?iid=am-182297469113282694937335496&nid=15&uid=481972855&utm_content=profile" target="_blank" class="ml-3"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCM9K-dq4BpnBin5PIkrP4NQ" target="_blank" class="ml-3"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
            </div>
            <div class="mt-2 mx-3 legal">
                <a href="{{ path('mentions_legales')}}">Mentions Légales</a>, Copyright © 2020 LUF - SFSAS
            </div>
        </div>
    </div>
</footer>