{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4 home d-flex justify-content-center">
    <div class="row my-2" style="width: 720px;">
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center">
            <a class="logo" href="https://www.schiller.ch/fr/fr/service-client" target="_blank">
                <img src="assets/logos/logo1.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay"> Notre Service Client</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center">
            <a class="logo" href="https://blog.mediprostore.com/" target="_blank">
                <img src="assets/logos/logo2.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Notre Blog</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="https://www.mediprostore.com/" target="_blank">
                <img src="assets/logos/logo3.jpeg.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Boutique en ligne</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="https://www.schiller.ch/fr/fr" target="_blank">
                <img src="assets/logos/logo4.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Nos produits Schiller</div>
            </a>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="#">
                <img src="https://cdn.dribbble.com/users/609665/screenshots/2992885/heart-dd.gif"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">MEMENTO</div>
            </a>
        </div>
        {% else %}
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="{{ path('app_login') }}">
                <img src="https://cdn.dribbble.com/users/609665/screenshots/2992885/heart-dd.gif"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">LOGIN</div>
            </a>
        </div>
        {% endif %}
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="http://sat.schillerfrance.fr/Catalogues/2020_02_Brochure_LUF_tarifs.pdf" target="_blank">
                <img src="assets/logos/logo5.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Les Formations</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="https://www.luf-digital.com/public-videos/TEASER_VF.mp4" target="_blank">
                <img src="assets/logos/logo6.png"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">E-learning</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="#">
                <img src="https://cdn.dribbble.com/users/609665/screenshots/2992885/heart-dd.gif"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Contact</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="http://sat.schillerfrance.fr/Catalogues/2019_guide_complet_DAE.pdt" target="_blank">
                <img src="assets/logos/logo-8.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Guide du DAE</div>
            </a>
        </div>
    </div>
</div>
<div class="container mb-3">
    <div class="row justify-content-center">
        <a href="https://www.linkedin.com/company/schiller-france" target="_blank" class="mr-3"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/SchillerFrance/" target="_blank" class="ml-3"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
    </div>
</div>
{% endblock %}