{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4 home d-flex justify-content-center">
    <div class="row my-2" style="width: 720px;">
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center">
            <a class="logo" href="https://www.schiller.ch/fr/fr/service-client" target="_blank">
                <img class="logo1" src="assets/logos/logo-service-client.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay"> Notre Service Client</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center">
            <a class="logo" href="https://blog.mediprostore.com/" target="_blank">
                <img class="logo1" src="assets/logos/logo blog.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Notre Blog</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="https://www.mediprostore.com/" target="_blank">
                <img class="logo1" src="assets/logos/logo-boutique-en-ligne.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Boutique en ligne</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="https://www.schiller.ch/fr/fr" target="_blank">
                <img class="logo1" src="assets/logos/logo-produit.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Nos produits Schiller</div>
            </a>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="{{ asset('assets/documents/Memento.pdf') }}">
                <img src="assets/images/memento/memento.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">MEMENTO</div>
            </a>
        </div>
        {% else %}
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="{{ path('app_login') }}">
                <img src="assets/logos/logo-votre-esp-formation-central.png"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">LOGIN</div>
            </a>
        </div>
        {% endif %}
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="http://sat.schillerfrance.fr/Catalogues/2020_02_Brochure_LUF_tarifs.pdf" target="_blank">
                <img class="logo1" src="assets/logos/logo-formation.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Les Formations</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="https://www.luf-digital.com/public-videos/TEASER_VF.mp4" target="_blank">
                <img class="logo1" src="assets/logos/logo-e-learning.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">E-learning</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="{{ path('contact') }}">
                <img class="logo1" src="assets/logos/logo-contact.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Contact</div>
            </a>
        </div>
        <div class="mb-3 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center" >
            <a class="logo" href="{{ asset('assets/documents/2019_guide_complet_DAE.pdf') }}">
                <img class="logo1" src="assets/logos/logo-guide-DAE.jpg"  height="200px" width="200px" alt="">
                <div class="d-flex align-items-center justify-content-center overlay">Guide du DAE</div>
            </a>
        </div>
    </div>
</div>
{% endblock %}