<nav class="navbar navbar-light bg-light">
    <a id="logo1" class="navbar-brand" href="{{ path('home_index') }}"><img class="logoNav1" src="assets/logos/logo nav1.jpg" alt=""><img class="logoNav2" src="assets/logos/logo nav2.jpg" alt=""></a>
    <a class="navbar-brand h1 nav-title mt-1 col text-center" href="">Formation SCHILLER</a>
    <ul class="navbar-nav mr-auto">
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link right"  href="{{ path('easyadmin') }}">AdminLUF</a>
        </li>
    {% endif %}
    </ul>
    <img class="logoNav3" src="assets/logos/logo nav3.jpg" alt="">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout') }}" class="mx-2 text-danger"> Se déconnecter</a>
    {% endif %}
</nav>
