{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container pt-5 col-sm-12 col-md-5 col-lg-5">
        <div class="card bg-light mb-5">
            <div class="container px-4">
                <h3 class="mt-3">Réinitiliser votre mot de passe</h3>

                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn mb-3 btn-primary">Réinitiliser</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}
