{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container pt-5 col-sm-12 col-md-5 col-lg-5">
        <div class="card bg-light mb-5">
            <div class="container px-4">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger mt-3">{{ error }}</div>
                    {% endif %}
                    <div class="form-group my-3">
                        <label for="input_password" class="h3">Mot de passe</label>
                        <input type="password" id="input_password" name="password" class="form-control">
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary my-4">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
