body {
    background: center center / cover no-repeat url("https://i.postimg.cc/kX2Bhz49/Capture-d-e-cran-2020-06-11-a-10-32-43.png");
}

.home img {
    border-radius: 10px;
}

.home a {
    color: #222222;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.overlay {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(250,250,250,1);
}

.logo:hover .overlay {
    opacity: 1;
}


