body {
    margin:0;
    padding:0;
    background: url("https://i.postimg.cc/FKkrVYqZ/background.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.home img {
    border-radius: 10px;
}

.home a {
    color: #222222;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.overlay {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(250,250,250,1);
}

.logo1 {
    background-color: white;
}

.logo:hover .overlay {
    opacity: 1;
}

.logoNav1 {
    width: 150px;
    margin: 0;
}

.logoNav2 {
    width: 80px;
    margin: 0;
}

.logoNav3 {
    width: 150px;
}
.main {
    min-height: calc(100vh - 85px - 54px);
}
.col-form-label {
    display: none;
}

.container-qcm {
    padding-right: 15px;
    padding-left: 15px;
}

.legal a {
    text-decoration: underline;
    color: #FFF;
}
.legal {
    color: #FFF;
    font-size: 14px;
}

.nav-title {
    font-size: 25px;
}

footer{
    background-color: #033f5f;
}

textarea.form-control {
    height: 200px;
}

/* evaluation */
.question{
    text-decoration: underline;
    font-weight: bold;
}
.red{
    color: red;
}
.orange{
    color: orange;
}
.olive{
    color: olive;
}
.green{
    color:green;
}
.bold{
    font-weight: bold;
}
.line{
    line-height: 0;
}

@media only screen and (max-width: 600px) {

    .navbar {
        flex-direction: column !important;
    }
    .line{
        line-height: 1.5rem;
    }
}
