<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AttestationPDF</title>
    <style>
        body {
            margin: 0;
            padding:0;
            height: 100vh;
        }
        iframe {
            border: none;
        }
    </style>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>